/* color palette from <https://github.com/vuejs/theme> */

/* Colors
#47C96F
#1DF564
#F5C81D
#1D6BF5
#1DB0F5
#44546F*/

:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;
  --background-color: #f4f4f4;
}

:root {
  --color-background: var(--background-color);
  --color-text: var(--vt-c-black);
  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-text: var(--vt-c-white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  margin: 2px;
  padding: 15px 10px;
  font-size: 1.5rem;
  background-color: #1D6BF5;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input {
  padding: 15px 10px;
  font-size: 1.5rem;
  background-color: none;
  color: #1D6BF5;
  margin: 2px 0;
  border: 2px solid #44546f;
  border-radius: 14px;
  box-shadow: 2px 6px 0px 0px rgba(0, 0, 0, 0.68);
}

input::placeholder {
  color: #44546F;
}