@import './base.css';

/* Colors
#47C96F
#1DF564
#F5C81D
#1D6BF5
#1DB0F5
#44546F*/

body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  font-weight: normal;
}


a {
  text-decoration: none;
  color: #47c96f;
  transition: 0.4s;
  padding: 3px;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    color: #1DF564;
  }
}

/*  ------------------------------- MEDIA QUERIES ------------------------->>>>> */
/*  ------------------------------- MEDIA QUERIES ------------------------->>>>> */
/*  ------------------------------- MEDIA QUERIES ------------------------->>>>> */
@media screen and (min-width: 575px) {
  #app {
    width: 325px;
  }
}

@media screen and (min-width: 767px) {
}

@media screen and (min-width: 991px) {
}

@media screen and (min-width: 1115px) {
  /* #app {
    width: 600px;
  } */
}

@media screen and (min-width: 1400px) {
}

@media screen and (min-width: 1440px) {
}
